extends Layouts/uikit.pug

block variables
  - let title = 'UI-kit';
block styles
block content
  img(src=require('Img/logo.svg'), alt="Podster.fm") 
  h1 UIKit
block scripts
  script(src=require('./ui-kit.js'))
