extends Layouts/uikit.pug

block variables
  - let title = 'UI-kit';
block styles
block content
  img(src=require('Img/logo.svg'), alt="Podster.fm")
  h1 UIKit
  h2 Forms

  h3 Form control
  include UIKit/form-control/form-control.pug
  +form-control('ИНН', 'text', 'advertiser-inn', 'Введите данные')

  h3 Поле для ввода пароля
  include UIKit/form-password/form-password.pug
  +form-control('Пароль', 'password', 'advertiser-password', 'Введите пароль')
  //div(class="form-password")
  //  input(type="password" class="form-control" placeholder="Введите пароль")
  //  button(type="button" class="form-password__toggle-view")
  br
  //div(class="form-password visible")
  //  input(type="password" class="form-control" placeholder="Введите пароль")
  //  button(type="button" class="form-password__toggle-view")
  br
  h3 Form select
  //select(class="form-select")
  //  option Option
  //  option Option
  //  option Option
  //  option Option
  //  option Option
  h3 Form check
  //div(class="form-check")
  //  input(type="checkbox" class="form-check-input" id="exampleCheckbox")
  //  label(class="form-check-label" for="exampleCheckbox") Checkbox
  //br
  //div(class="form-check")
  //  input(type="checkbox" class="form-check-input" id="exampleCheckboxChecked" checked)
  //  label(class="form-check-label" for="exampleCheckboxChecked") Checkbox checked
  //br

  h3 Form switch
  //div(class="form-check form-switch")
  //  input(type="checkbox" class="form-check-input" role="switch" id="exampleSwitch")
  //  label(class="form-check-label" for="exampleSwitch") Switch
  //br
  //div(class="form-check form-switch")
  //  input(type="checkbox" class="form-check-input" role="switch" id="exampleSwitchChecked" checked)
  //  label(class="form-check-label" for="exampleSwitchChecked") Switch checked

  h3 Buttons
  button(type="button" class="btn btn-primary") Primary
  | &emsp;
  button(type="button" class="btn btn-secondary") Secondary
  | &emsp;
  button(type="button" class="btn btn-secondary" disabled) Disabled
  br
  pre
    | &lt;button class="btn btn-primary" type="button"&gt;Primary&lt;/button&gt;
    | &lt;button class="btn btn-secondary" type="button"&gt;Secondary&lt;/button&gt;
    | &lt;button class="btn btn-secondary" type="button" disabled="disabled"&gt;Disabled&lt;/button&gt;
