extends Layouts/uikit.pug

block variables
  - let title = 'UI-kit';
block content
  img(src=require('Img/logo.svg'), alt="Podster.fm")
  h1 UIKit
  h2 Forms

  h3 Form control
  include UIKit/form-control/form-control.pug
  +form-control('ИНН', 'text', 'advertiser-inn', 'Введите данные')

  h3 Поле для ввода пароля
  include UIKit/form-password/form-password.pug
  +form-control('Пароль', 'password', 'advertiser-password', 'Введите пароль')

  h3 Form select
  .ui-kit__component-container.ui-kit__component-container_gorizontal
    include UIKit/form-select/form-select.pug
    +form-select('Example Select 1', 'example-form-select-1', false, [
      {
        heading: 'Заголовок 1',
        items: [
          {
            value: 1,
            text: 'Option 1',
            description: 'Lorem ipsum dolor sit amet.'
          },
          {
            value: 2,
            text: 'Option 2',
            description: 'Lorem ipsum dolor sit amet.'
          },
          {
            value: 3,
            text: 'Option 3',
            description: 'Lorem ipsum dolor sit amet.'
          },
        ]
      },
      {
        heading: 'Заголовок 2',
        items: [
          {
            value: 4,
            text: 'Option 4',
            description: 'Lorem ipsum dolor sit amet.'
          },
          {
            value: 5,
            text: 'Option 5',
            description: 'Lorem ipsum dolor sit amet.'
          },
          {
            value: 6,
            text: 'Option 6',
            description: 'Lorem ipsum dolor sit amet.'
          },
        ]
      },
    ], 'Default Option')
    +form-select('Example Select 2', 'example-form-select-2', false, [
      {
        value: 1,
        text: 'Option 1',
        description: 'Lorem ipsum dolor sit amet.'
      },
      {
        value: 2,
        text: 'Option 2',
        description: 'Lorem ipsum dolor sit amet.'
      },
      {value: 3, text: 'Option 3', description: 'Lorem ipsum dolor sit amet.'}
    ], 'Default Option')
    +form-select('Example Multiple Select 1', 'example-multiple-form-select-1', true, [
      {
        value: 1,
        text: 'Option 1',
        description: 'Lorem ipsum dolor sit amet.'
      },
      {
        value: 2,
        text: 'Option 2',
        description: 'Lorem ipsum dolor sit amet.'
      },
      {
        value: 3,
        text: 'Option 3',
        description: 'Lorem ipsum dolor sit amet.'
      },
      {
        value: 4,
        text: 'Option 4',
        description: 'Lorem ipsum dolor sit amet.'
      },
      {
        value: 5,
        text: 'Option 5',
        description: 'Lorem ipsum dolor sit amet.'
      },
    ], 'Default Option')

  h3 Form check
  .ui-kit__component-container.ui-kit__component-container_vertical
    .ui-kit__component-container.ui-kit__component-container_gorizontal
      include UIKit/form-check/form-check.pug
      +form-check('test-checkbox-1', 'Просто checkbox', {})
      +form-check('test-checkbox-2', 'Checkbox и', {
        text: 'ссылка в нём',
        href: 'https://google.com',
      })
      +form-check('test-checkbox-3', 'Checkbox и', {
        text: 'кнопка',
      })
      +form-check('test-checkbox-4', '', {
        text: 'Только кнопка',
      })
    .ui-kit__component-container.ui-kit__component-container_gorizontal
      +form-check('test-checkbox-5', '', {
        text: 'Только ссылка',
        href: 'https://google.com'
      })
      +form-check('test-checkbox-6', 'Checkbox с описанием', {}, 'Lorem ipsum dolor sit amet.')
      +form-check('test-checkbox-7', 'Checkbox c описанием и', {
        text: 'кнопкой',
      }, 'Lorem ipsum dolor sit amet.')
  p &#10071; Выравнивание элементов внутри .form-check__label, и текста в них, следует реализовывать в стилях того, куда вы вставили компонент, обращаясь к button или span через селектор вида ".form-check__label button" или ".form-check__label span"

  h3 Form switch
  .ui-kit__component-container.ui-kit__component-container_gorizontal
    include UIKit/form-switch/form-switch.pug
    +form-switch('test-switch-1', 'Право', 'Лево')
    +form-switch('test-switch-2', 'Право')

  h3 Buttons
  .ui-kit__component-container.ui-kit__component-container_gorizontal
    include UIKit/button/button.pug
    +button('test-button-primary', 'button', 'primary', 'Primary')
    +button('test-button-secondary', 'button', 'secondary', 'Secondary')
    +button('test-button-primary-disabled', 'button', 'primary', 'Disabled Primary')(disabled)
    +button('test-button-secondary-disabled', 'button', 'secondary', 'Disabled Secondary')(disabled)
    +button('test-button-transparent', 'button', 'transparent', 'Transparent Button')
    +button('test-button-transparent-disabled', 'button', 'transparent', 'Disabled Transparent Button')(disabled)
    +button('test-button-link', 'button', 'link', 'Looks like a link')
block styles
block scripts
  script(src=require('./ui-kit') defer)
