extends Layouts/uikit.pug

block variables
  - let title = 'UI-kit';
block styles
block content
  img(src=require('Img/logo.svg'), alt="Podster.fm") 
  h1 UIKit
  h2 Forms 
  h3 Form control 
  input(type="text" class="form-control" placeholder="ИНН или email") 
  br
  code &lt;input type="text" class="form-control"&gt;
  p Тот же класс для других типов инпутов.
  h3 Поле для ввода пароля
  div(class="form-password")
    input(type="password" class="form-control" placeholder="Введите пароль") 
    button(type="button" class="form-password__toggle-view")
  br
  div(class="form-password visible")
    input(type="password" class="form-control" placeholder="Введите пароль") 
    button(type="button" class="form-password__toggle-view")
  br
  pre 
    | &lt;div class="form-password"&gt;
    |   &lt;input class="form-control" type="password" placeholder="Введите пароль"/&gt;
    |   &lt;button class="form-password__toggle-view" type="button"&gt;&lt;/button&gt;
    | &lt;/div&gt;
    | &lt;div class="form-password visible"&gt;
    |   &lt;input class="form-control" type="password" placeholder="Введите пароль"/&gt;
    |   &lt;button class="form-password__toggle-view" type="button"&gt;&lt;/button&gt;
    | &lt;/div&gt;
  h3 Form select
  select(class="form-select")
    option Option
    option Option
    option Option
    option Option
    option Option
  h3 Form label
  label(for="formControlInput" class="form-label") Логин: 
  br
  code &lt;label class="form-label"&gt;&lt;/label&gt;
  h3 Form check 
  div(class="form-check")
    input(type="checkbox" class="form-check-input" id="exampleCheckbox")
    label(class="form-check-label" for="exampleCheckbox") Checkbox
  br
  div(class="form-check")
    input(type="checkbox" class="form-check-input" id="exampleCheckboxChecked" checked)
    label(class="form-check-label" for="exampleCheckboxChecked") Checkbox checked
  br
  pre 
    | &lt;div class="form-check"&gt;
    |   &lt;input class="form-check-input" type="checkbox" id="exampleCheckDefault"&gt;
    |   &lt;label class="form-check-label" for="exampleCheckDefault"&gt;
    |     Default checkbox
    |   &lt;/label&gt;
    | &lt;/div&gt;
    | &lt;div class="form-check"&gt;
    |   &lt;input class="form-check-input" type="checkbox" id="exampleCheckChecked" checked&gt;
    |   &lt;label class="form-check-label" for="exampleCheckChecked"&gt;
    |     Checked checkbox
    |   &lt;/label&gt;
    | &lt;/div&gt;
  h3 Form switch 
  div(class="form-check form-switch")
    input(type="checkbox" class="form-check-input" role="switch" id="exampleSwitch")
    label(class="form-check-label" for="exampleSwitch") Switch
  br
  div(class="form-check form-switch")
    input(type="checkbox" class="form-check-input" role="switch" id="exampleSwitchChecked" checked)
    label(class="form-check-label" for="exampleSwitchChecked") Switch checked
  br
  pre 
    | &lt;div class="form-check form-switch"&gt;
    |   &lt;input class="form-check-input" type="checkbox" role="switch" id="exampleSwitchDefault"&gt;
    |   &lt;label class="form-check-label" for="exampleSwitchDefault"&gt;
    |     Default checkbox
    |   &lt;/label&gt;
    | &lt;/div&gt;
    | &lt;div class="form-check"&gt;
    |   &lt;input class="form-check-input" type="checkbox" role="switch" id="exampleSwitchChecked" checked&gt;
    |   &lt;label class="form-check-label" for="exampleSwitchChecked"&gt;
    |     Checked checkbox
    |   &lt;/label&gt;
    | &lt;/div&gt;
  br
  h3 Buttons 
  button(type="button" class="btn btn-primary") Primary
  |&emsp;
  button(type="button" class="btn btn-secondary") Secondary
  |&emsp;
  button(type="button" class="btn btn-secondary" disabled) Disabled
  br
  pre
    |&lt;button class="btn btn-primary" type="button"&gt;Primary&lt;/button&gt;
    |&lt;button class="btn btn-secondary" type="button"&gt;Secondary&lt;/button&gt;
    |&lt;button class="btn btn-secondary" type="button" disabled="disabled"&gt;Disabled&lt;/button&gt;
