extends Layouts/uikit.pug

block variables
  - let title = 'UI-kit';
block styles
block scripts
  script(src=require('./ui-kit') defer)
block content
  img(src=require('Img/logo.svg'), alt="Podster.fm")
  h1 UIKit
  h2 Forms

  h3 Form control
  include UIKit/form-control/form-control.pug
  +form-control('ИНН', 'text', 'advertiser-inn', 'Введите данные')

  h3 Поле для ввода пароля
  include UIKit/form-password/form-password.pug
  +form-control('Пароль', 'password', 'advertiser-password', 'Введите пароль')

  h3 Form select
  //select(class="form-select")
  //  option Option
  //  option Option
  //  option Option
  //  option Option
  //  option Option
  h3 Form check
  .ui-kit__component-container.ui-kit__component-container_gorizontal
    include UIKit/form-check/form-check.pug
    +form-check('test-checkbox-1', 'Просто checkbox', {})
    +form-check('test-checkbox-2', 'Checkbox и', {
      text: 'ссылка в нём',
      href: 'https://google.com',
    })
    +form-check('test-checkbox-3', 'Checkbox и', {
      text: 'кнопка',
    })
    +form-check('test-checkbox-4', '', {
      text: 'Только кнопка',
    })
    +form-check('test-checkbox-4', '', {
      text: 'Только ссылка',
      href: 'https://google.com'
    })
  //div(class="form-check")
  //  input(type="checkbox" class="form-check-input" id="exampleCheckbox")
  //  label(class="form-check-label" for="exampleCheckbox") Checkbox
  //br
  //div(class="form-check")
  //  input(type="checkbox" class="form-check-input" id="exampleCheckboxChecked" checked)
  //  label(class="form-check-label" for="exampleCheckboxChecked") Checkbox checked
  //br

  h3 Form switch
  //div(class="form-check form-switch")
  //  input(type="checkbox" class="form-check-input" role="switch" id="exampleSwitch")
  //  label(class="form-check-label" for="exampleSwitch") Switch
  //br
  //div(class="form-check form-switch")
  //  input(type="checkbox" class="form-check-input" role="switch" id="exampleSwitchChecked" checked)
  //  label(class="form-check-label" for="exampleSwitchChecked") Switch checked

  h3 Buttons
  .ui-kit__component-container.ui-kit__component-container_gorizontal
    include UIKit/button/button.pug
    +button('test-button-primary', 'button', 'primary', 'Primary')
    +button('test-button-secondary', 'button', 'secondary', 'Secondary')
    +button('test-button-primary-disabled', 'button', 'primary', 'Disabled Primary')(disabled)
    +button('test-button-secondary-disabled', 'button', 'secondary', 'Disabled Secondary')(disabled)
    +button('test-button-transparent', 'button', 'transparent', 'Transparent Button')
    +button('test-button-transparent-disabled', 'button', 'transparent', 'Disabled Transparent Button')(disabled)
    +button('test-button-link', 'button', 'link', 'Looks like a link')
