h1 Podster

h2 Список страниц:

ul
  li
    a(href='./registration.html') Регистрация
  li
    a(href='./registrationThanks.html') Спасибо за регистрацию
  li
    a(href='./uiKit.html') UI-kit
  li
    a(href='./typography.html') Typography
