.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 0.20;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: opacity ease-in-out 400ms;

  &_visible {


  }
}
