extends Layouts/auth.pug

block variables
  - let title = 'Регистрация';
block scripts
  script(src=require('./registration.js') defer)
block content
  include Components/registration/registration.pug
