.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $modal-z-index;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__body {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    width: fit-content;
    height: fit-content;
    max-height: 78%;
    padding-top: 48px;
    border-radius: $brs-md;
    flex-direction: column;
    align-items: center;
    background-color: $white-2;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin-bottom: 16px;
    text-align: center;
  }

  &__close-button {
    position: absolute;
    top: 18px;
    right: 18px;
    display: flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
