mixin form-control(labelText, inputType, inputName, placeholder)
  .form-control
    include UIKit/control-label/control-label.pug
    +control-label(labelText, inputName)(class='form-control__label')
    block content
      input.form-control__input(type=inputType, name=inputName, id=inputName, placeholder=placeholder)&attributes(
        attributes)
    include UIKit/form-control-error/form-control-error.pug
    +form-control-error()(class='form-control__error')
