extends Layouts/auth.pug

block variables
  - let title = 'Спасибо за регистрацию';
block scripts
  script(src=require('./registration-thanks.js') defer)
block content
  include Components/registration-thanks/registration-thanks.pug
