@mixin media-1024 {
  @media (max-width: $horizontal-tablet) {
    @content;
  }
}

@mixin media-768 {
  @media (max-width: $vertical-tablet) {
    @content;
  }
}

@mixin media-576 {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin media-375 {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin hidden {
  z-index: -10000;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

@mixin visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  @content;
}

@mixin fade {
  opacity: 0;
  transition: opacity $basic-transition-timing ease-in-out;
}
