// Colors
$blue-1: #e9eaf2;
$blue-2: #474481;
$blue-3: #a6aaca;
$blue-4: #57548c;

$green-1: #00881c;
$green-3: #d9fcdd;

$orange-1: #fa8c16;
$orange-2: #fff7e6;

$red-1: #e25140;
$red-2: #fcebee;

$white-1: #fff;
$white-2: #f5f5f5;

$main: $blue-2;
$primary-hover: $blue-4;
$disabled-background: $blue-1;

// Border radius
$brs-sm: 4px;
$brs-md: 8px;
$brs-lg: 16px;

// Breakpoints
$mobile-s: 375px;
$mobile: 576px;
$vertical-tablet: 768px;
$horizontal-tablet: 1024px;

// z-index
$backdrop-z-index: 9900;
$modal-z-index: 10000;

// effects
$basic-transition-timing: .3s;

