// Colors
$blue-1: #E9EAF2;
$blue-2: #474481;
$blue-3: #A6AACA;

$green-1: #00881C;
$green-3: #D9FCDD;

$orange-1: #FA8C16;
$orange-2: #FFF7E6;

$red-1: #E25140;
$red-2: #FCEBEE;

$white-1: #ffffff;
$white-2: #f5f5f5;

$main: $blue-2;

// Border radius
$brs-sm: 4px;
$brs-md: 8px;
$brs-lg: 16px;

// Font
$font-family: 'Montserrat', sans-serif;
$base-font-size: 14px;
$base-line-height: 17px;