div(class="page-office-footer")
  div(class="page-office-footer__row")
    div(class="page-office-footer__col")
      ul 
        li 
         a(href="") Лейблам
        li 
         a(href="") Пресса о нас
        li 
         a(href="") Блок Podster
    div(class="page-office-footer__col")
      ul 
        li 
         a(href="") Политика конфиденциальности
        li 
         a(href="") Пользовательское соглашение
        li 
         a(href="") Контакты
    div(class="page-office-footer__col")
      ul 
        li 
         a(href="") О сервисе
        li 
         a(href="") База знаний
        li 
         a(href="") Поддержка
    div(class="page-office-footer__col")
      div(class="social")
        span Мы в социальных сетях:
        a(href="")
          img(src=require("Icons/twitter.svg"), alt="")
        a(href="")
          img(src=require("Icons/vk.svg"), alt="")
  div(class="page-office-footer__row")
    div(class="page-office-footer__col")
      div(class="copy")
        | &copy; Podster.fm
        span Все права защищены
    div(class="page-office-footer__col")
      div(class="requisites")
        | ИП «Копецкий Андрей Валерьевич» ОГРНИП: 319774600668632
        br
        | ИНН: 231528774506 Место нахождения: г. Москва.
        br
        | Ул. Лизы Чайкиной 1 стр 2 офис 309