.auth-block {
  width: 350px;

  h1 {
    margin: 0 0 32px;
  }

  a {
    text-decoration: none;
  }

  &__form-group {
    margin-bottom: 16px;
  }

  .form-label {
    margin-bottom: 8px;
  }

  .form-switch {
    margin-top: 8px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;

    .btn {
      width: 144px;
    }
  }

  &__footer {
    text-align: center;
    color: $blue-3;

  }
}
