section.registration
  h1.registration__title.heading-1 Регистрация
  h3.registration__sub-title.heading-3.heading-3_medium Введите данные для регистрации

  form.registration__form(name="registration-form" id="registration-form")
    include UIKit/form-select/form-select.pug
    +form-select('Тип рекламодателя', 'user-reg-type', false, [
      {
        value: 1,
        text: 'Самозанятый',
      },
      {
        value: 2,
        text: 'Юридическое лицо',
      },
      {
        value: 3,
        text: 'Индивидуальный предприниматель',
      }
    ], 'Выберите из списка')

