@import 'UIKit/form-control/form-control.scss';
@import 'UIKit/form-password/form-password.scss';
@import 'UIKit/form-check/form-check.scss';
@import 'UIKit/form-switch/form-switch.scss';
@import 'UIKit/form-select/form-select.scss';
@import 'UIKit/control-label/control-label.scss';
@import 'UIKit/dropdown/dropdown.scss';
@import 'UIKit/form-control-error/form-control-error.scss';
@import 'UIKit/button/button.scss';

@import './contract-modal/contract-modal.scss';

body.page-auth__body {
  justify-content: flex-start;
}

.registration {
  display: flex;
  max-width: 435px;
  padding: 140px 0 32px;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;

  &__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    @include media-576 {
      row-gap: 16px;
    }
  }

  &__controls {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    row-gap: 16px;

    input[name="user-inn"],
    input[name="user-ogrn"],
    input[name="user-okved"] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      -moz-appearance: textfield;
    }

    @include media-576 {
      row-gap: 8px;
    }
  }

  &__from-back-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 16px;
  }

  &__to-auth {
    display: flex;
    align-items: center;
    column-gap: 4px;

    p {
      margin: 0;
      color: $blue-3;

      @include media-576 {
        font-size: 14px;
      }
    }
  }

  .form-check {
    @include media-576 {
      margin-top: 8px;
    }
  }

  @include media-576 {
    max-width: 287px;
    padding: 94px 0 32px;
    row-gap: 24px;
  }
}
